
html {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    overflow-y: visible ;
  }

body {
    background-color: antiquewhite;
    margin: 100px auto;
    width: 50%;
}

/* SHIFT STYLE */
.shift {
  margin-bottom: 50px;
  width: 100%;
}

.shiftHeader {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 1fr;
  width: 100%;
}


.shiftHeader h2 {
  padding-left: 30px;
  grid-column: 0;
}

.shiftHeader button {
  grid-column: 2;
  width: 100px;
  height: 30px;
  margin-top: 25px;
  margin-left: -30px;
  padding: 7px 10px 7px 10px;
  border-top: solid 1px #3C312E;
  border-right: solid 3px #3C312E;
  border-bottom: solid 3px #3C312E;
  border-left: solid 1px #3C312E;
  border-radius: 5px;
  color: #3C312E;
  background-color: #AFE9D9;
  font-weight: bold;
}

.shiftHeader button:hover {
  cursor: pointer;
  background-color: #4FCFAB;
}


.shift ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    border-top: solid 1px #3C312E;
    border-right: solid 3px #3C312E;
    border-bottom: solid 3px #3C312E;
    border-left: solid 1px #3C312E;
    border-radius: 5px;
    list-style-type: none;
}

/* MEMBERS STYLE */
.shift li {
    margin: 5px 20px 5px 20px;
    padding: 10px 20px 10px 20px;
    min-height: 30px;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    
}

.open, .draft {
  background-color: #CFF2E8;
}

.open:hover, .draft:hover {
  cursor: pointer;
  background-color: #AFE9D9;
}

.done {
  background-color: #4FCFAB;
}

.done:hover {
  cursor: pointer;
  background-color: #35C099;
}

.done span {
  /* float: right; */
  font-size: 25px;
  padding-left: 10px;
}

/* #CFF2E8    #4FCFAB*/
/* #AFE9D9      #35C099*/




/* CONFIRMATION MODAL STYLE */
#confirmation-hub-modal, 
#catchingUp-modal {
    position: absolute;
    top: -5px;
    left: -5px;
    height: 101%;
    width: 101%;
    z-index: 998;
    background: rgba(246, 218, 182, 0.85);
    opacity: 95%;
  }

#confirmation-container, 
#catchingUp-container {
  margin: auto;
  height: 300px; /* 250px */
  width: 500px; /* 300px */
  background-color: #CFF2E8;
  border-radius: 5px;
  border-top: solid 1px #3C312E;
  border-right: solid 3px #3C312E;
  border-bottom: solid 3px #3C312E;
  border-left: solid 1px #3C312E;
}

#confirmation-container-heading {
  /* position: relative;
  top: -16px; */
  margin-top: -16px;
  height: 50px;
  line-height: 50px;
  background-color: #3C312E;
  color: #CFF2E8;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#confirmation-container-heading p {
  padding-left: 10px;
}

#confirmation-container-content {
  margin-top: -3px;
  height: calc(100% - 100px); /* 150px */
  background-color: #CFF2E8;
  white-space: pre-line;

  text-align: center;
  overflow-y: auto;
}

#confirmation-container-content p {
margin: 3px;
padding: 10px;
font-size: 20px;
line-height: 1.5em;
}

#confirmation-container-btn, 
#catchingUp-container-btn {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin: 0 auto;
  text-align: center;
}

#confirmation-container-btn button, 
#catchingUp-container-btn button {
  border-radius: 5px;
  background-color: white;
  color: #3C312E;
  border-top: solid 1px #3C312E;
  border-right: solid 3px #3C312E;
  border-bottom: solid 3px #3C312E;
  border-left: solid 1px #3C312E;
  width: 100px;
  height: 30px;
  padding: 3px 7px 5px 3px;
}

#confirmation-container-btn button:hover, 
#catchingUp-container-btn button:hover {
  cursor: pointer;
  background-color: #4FCFAB;
  color: #3C312E;
}

#cancel-confirmation {
  position: relative;
  left: -15px;
}

#accept-confirmation {
  position: relative;
  left: 15px;
}


/* CATCHING UP MODAL */
#catchingUp-container {
  margin: auto;
  height: 350px; /* 250px */
  width: 600px; /* 300px */
}

#search-box {
  margin: 50px 10% 30px 10%;
  width: 100%;
}

#search-CatchinUp {
  height: 30px;
  width: 60%;

  margin: 0 auto;
  border-top: solid 1px #3C312E;
  border-right: solid 3px #3C312E;
  border-bottom: solid 3px #3C312E;
  border-left: solid 1px #3C312E;
  border-radius: 5px;
  font-weight: bold;
}

#seach-member {
  height: 36px;
  width: 100px;
  margin-left: -10px;
  padding: 7px 10px 7px 10px;
  font-weight: bold;

  border-top: solid 1px #3C312E;
  border-right: solid 3px #3C312E;
  border-bottom: solid 3px #3C312E;
  border-left: solid 1px #3C312E;
  border-radius: 5px;
}

#member-list {
  min-height: 0px;
  max-height: 180px;
}

#member-list ul {
  width: calc(60% + 100px);
  height: auto;
  max-height: 180px;
  padding: 0px;
  margin: 0px;
  text-align: left;
  overflow: hidden;
  overflow-y: scroll;

  border-top: solid 1px #3C312E;
  border-right: solid 3px #3C312E;
  border-bottom: solid 3px #3C312E;
  border-left: solid 1px #3C312E;
  border-radius: 5px;
}

#member-list  li {
  list-style-type: none;
  font-size: 17px;
  padding-left: 5px;
  background-color: antiquewhite;
}

#member-list  li span {
  padding: 5px 0 5px 20px;
}

#member-list li input[type=checkbox] {
  transform: scale(1.3);
}

.leader {
  display: inline-block;
  font-size: 20px;
  width: 25px;
  height: auto;
  margin-right: -7px;
  margin-left: -9px;
  padding-left: 10px;
  vertical-align: middle;
  line-height: 2;
}



/* LOADING */
/* CREDIT TO https://loading.io/css/ */

.centered-margin {
  margin-top: 10px;
}

.loading-section {
  display: none;
  width: 100%;
}

#laser-loader {
  display: none;
}

#conf-loader {
  display: none;
}

.lds-ring {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #4FCFAB;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #4FCFAB transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}