
html {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    overflow-y: visible ;
  }

body {
    background-color: antiquewhite;
    margin: 100px auto;
    width: 50%;
}


/* COMPONENTS */

.border {
  border-radius: 5px;
  border-top: solid 1px #3C312E;
  border-right: solid 3px #3C312E;
  border-bottom: solid 3px #3C312E;
  border-left: solid 1px #3C312E;
}

.border-light {
  border-radius: 5px;
  border-top: solid 1px #3C312E;
  border-right: solid 2px #3C312E;
  border-bottom: solid 2px #3C312E;
  border-left: solid 1px #3C312E;
}

.centered-btn {
  margin: 20px auto 0 auto;
  width: 430px;
}

.btn-large {
  min-width: 200px;
  height: 50px;

  background-color: #AFE9D9;
  font-weight: bold;
  font-size: 1.1em;
}

.btn-small:hover, .btn-large:hover {
  cursor: pointer;
  background-color: #4FCFAB;
  transition: background-color 0.2s ease-in-out;
}

.margin {
  margin: 5px;
}

/* SHIFT STYLE */
.shift {
  margin-bottom: 50px;
  width: 100%;
}

.shiftHeader {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 1fr;
  width: 100%;
}


.shiftHeader h2 {
  padding-left: 30px;
  grid-column: 0;
}

.shiftHeader button {
  grid-column: 2;
  width: 100px;
  height: 30px;
  margin-top: 25px;
  margin-left: -30px;
  padding: 7px 10px 7px 10px;
  background-color: #AFE9D9;
  font-weight: bold;
}

.shiftHeader button:hover {
  cursor: pointer;
  background-color: #4FCFAB;
  transition: background-color 0.2s ease;
}


.shift ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  list-style-type: none;
}

/* MEMBERS STYLE */
.shift li {
  margin: 5px 20px 5px 20px;
  padding: 10px 20px 10px 20px;
  min-height: 30px;
  flex-direction: row;
  align-items: center;
  font-size: 17px;
}

.open, .draft {
  background-color: #CFF2E8;
}

.open:hover, .draft:hover {
  cursor: pointer;
  background-color: #AFE9D9;
  transition: background-color 0.2s ease;
}

.done {
  background-color: #4FCFAB;
}

.done:hover {
  cursor: pointer;
  background-color: #35C099;
  transition: background-color 0.2s ease;
}

.done span {
  font-size: 25px;
  padding-left: 10px;
}

.leader {
  vertical-align: middle;
  font-size: 25px;
}


/* CONFIRMATION MODAL 2 */
#confirmation-modal {
  display: none;
}

.modal-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 215, 195, 0.85);
}

.confirmation-modal {
  width: 600px;
  height: auto;
  max-height: 750px;
  margin: 100px auto auto auto;
  background-color: antiquewhite;
  padding-bottom: 20px;
}

.modal-section {
  display: block;
  width: 100%;
}

.modal-header {
  width: calc(100% - 20px);
  padding: 10px 10px;
  background-color: #3C312E;
}

.modal-header p {
  display: inline-block;
  font-weight: bold;
  color: #CFF2E8;
}

.modal-close {
  display: inline-block;
  float: right;
  border: none;
  background: none;
  color: #CFF2E8;
  font-weight: bold;
  font-size: 1.5em;
}

.modal-padding {
  padding: 15px 10px;
}

.modal-content {
  padding: 10px 0 10px 0;
  font-size: 1em;
  line-height: 1.5em;
  text-justify: inter-character;
  text-align: center;
}



/* REGISTRATION MODAL */

#confirmation-modal {
  display: none;
}

#registration-modal {
  display: none;
}

.registration-modal {
  width: 600px;
  height: auto;
  max-height: 750px;
  margin: 100px auto auto auto;
  background-color: antiquewhite;
  padding-bottom: 20px;
}

.search-member-container {
  margin: 50px 10% 30px 10%;
  width: 100%;
}

.input {
  height: 30px;
  width: 60%;

  padding-left: 10px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
}

.search-btn {
  height: 36px;
  width: 120px;
  padding: 7px 10px 7px 10px;
  font-weight: bold;
  background-color: #AFE9D9;
  font-size: 16px;
}

.search-btn:hover {
  cursor: pointer;
  background-color: #4FCFAB;
  transition: background-color 0.2s ease;
}

#loader {
  display: none;
  min-height: 200px;
}

#member-list {
  display: block;
  height: 200px;
}

#member-list ul {
  height: 100%;
  width: calc(100%-10px);
  margin: 0 10px 0 10px;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.li-member {
  display: block;
  width: calc(100%-10px);
  margin: 3px 5px 3px 5px;
  padding: 5px 20px 5px 20px;
  font-size: 17px;
  background-color: #CFF2E8;
}

.li-member:hover {
  cursor: pointer;
  background-color: #AFE9D9;
  transition: background-color 0.2s ease;
}

.selected {
  background-color: #4FCFAB;
}


/* LOADING */
/* CREDIT TO https://loading.io/css/ */

.centered-margin {
  margin-top: 10px;
}

.loading-section {
  display: none;
  width: 100%;
}

.lds-ring {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #4FCFAB;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #4FCFAB transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


/* NOTIFICATIONS */

.fx {
  position: fixed;
  left: 0;
  top: 30px;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
}

.msg-container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  width: 50%;
  margin: 10px auto;
  border-radius: 5px;  
  opacity: 100;
  z-index: auto;
}

.msg-symbol {
  width: 32px;
  height: 32px;
  max-width: 100px;
  max-height: 100px;
  background-color: #abb8c3;
  scale: 0.5;
  border: 3px solid #3C312E;
  border-radius: 50%;
}

.err {
  background-color: #F9B5AC;
  border-left: solid 1px #F47766;
  border-top: solid 1px #F47766;
  border-right: solid 3px #F47766;
  border-bottom: solid 3px #F47766;
}

.err:hover {
  transition: background-color 0.2s ease;
  background-color: #F47766;
}


.msg {
  font-size: 1em;
  line-height: 1.5em;
  text-justify: inter-character;
}

.msg-comp {
  display: inline-block;
}

.msg-quit {
  float: right;
  border: none;
  background: none;
  color: #3C312E;
  font-weight: bold;
  font-size: 1em;
  vertical-align: top;
}

.msg-quit:hover {
  cursor: pointer;
  transition: color 0.2s ease;
  color: #F9B5AC;
}


@media (hover: none) and (pointer: coarse){
  .fx {
      top: 10px;
  }

  .msg-container {
      grid-template-columns: 10% 85% 5%;
  }
}