<!DOCTYPE html>
<html id="html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>shifts</title>
        <meta name="shifts" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/shifts.css">
    </head>
    <body id="body">
        <div id="confirmation-hub-modal" style="display: none;">
          <div id="confirmation-container">
            <div id="confirmation-container-heading">
              <p id="heading-message"></p>
            </div>
            <div id="confirmation-container-content">
              <p id="content-message"></p>
            </div>
            <div id="confirmation-container-btn">
              <button id="cancel-confirmation" onclick="CloseCModal()"><strong>Annuler</strong></button>
              <button id="accept-confirmation"><strong>Confirmer</strong></button>
            </div>
          </div>
        </div>

        <div id="catchingUp-modal" style="display: none;">
          <div id="catchingUp-container">
            <div id="search-box">
              <input type="text" name="" id="search-CatchinUp" placeholder="Nom/N°coopérateur">
              <button id="seach-member" onclick="searchMember('search-CatchinUp')">Rechercher</button>
              <div id="member-list"></div>
            </div>
            <div id="loading" class="loading-section">
              <div class="centered-margin">
                  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
              </div>
            </div>
            <div id="catchingUp-container-btn">
              <button id="cancel-catchingUp" onclick="CloseCatchingUpModal()"><strong>Annuler</strong></button>
              <button id="accept-catchingUp" onclick="registerCatchUp()"><strong>Confirmer</strong></button>
            </div>
          </div>
        </div>

        {% for shift in shifts %}
        <div id="{{shift.shift_id}}" shift_id="{{shift.shift_id}}" class="shift">
            <div class="shiftHeader">
                <h2>{{shift.shift_display_name}}</h2>
                <button class="catchUpBtn" onclick="askCatchingUp({{shift.shift_id}})">S'inscrire</button>
            </div>
            <ul>
                {% for member in shift.members %}
                    {% if member.state == "done" %}
                        <li id="{{member.registration_id}}" registration_id="{{member.registration_id}}" class="{{member.state}}" 
                        shift_id="{{member.shift_id}}" partner_id="{{member.partner_id}}" state="{{member.state}}" 
                        onclick="askConfirmationReset({{member.registration_id}})">{{member.display_name|safe}}
                        </li>
                    {% else %}
                        <li id="{{member.registration_id}}" registration_id="{{member.registration_id}}" class="{{member.state}}" 
                        shift_id="{{member.shift_id}}" partner_id="{{member.partner_id}}" state="{{member.state}}" 
                        onclick="askConfirmation({{member.registration_id}})">{{member.display_name|safe}}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

        <script type="text/javascript" src="/static/js/shifts.js"></script>
    </body>
</html>